<h1><%= car.id %></h1>
<h1><%= car.name %></h1>
<form method="POST" action="/delete/<%= car.id %>?_method=DELETE">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

<div class="container-fluid content" onclick="closeNav()">
  <h6>Cars <span class="fw-bold">></span> List Car ><span class="fw-normal text-muted"> Add New Car</span></h6>
  <h5 class="fw-bold mt-4">Add New Car</h5>
  <form method="post" action="/add" class="py-4">
    <div class="form-add">
      <div class="row align-items-center">
        <div class="col-md-3">
          <h6>Nama</h6>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="name" value="<%= car.name %>" placeholder="Nama Mobil" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Sewa Per Hari</h6>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="price" value="<%= car.price %>" placeholder="Rp.0,-" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Ukuran</h6>
        </div>
        <div class="col-md-6">
          <select class="form-select" name="size">
            <option value="Small" selected>Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Foto</h6>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" name="image" value="<%= car.image %>" placeholder="https://placeimg.com/640/480/any" />
        </div>
      </div>
    </div>
    <button type="submit" class="btn-submit btn btn-primary">Save</button>
  </form>
  <a href="/create"><button class="btn-cancel btn btn-outline-primary">Cancel</button></a>
</div>
