
<% if(messages.insertMessage.length !==0){ %>
  <div class="alert" role="alert">
    <h6 class="alert-insert text-center">
      <%= messages.insertMessage %>
    </h6>
  </div>
  <% } %>
    <% if(messages.deleteMessage.length !==0){ %>
      <div class="alert" role="alert">
        <h6 class="alert-delete text-center">
          <%= messages.deleteMessage %>
        </h6>
      </div>
      <% } %>

<!-- Breadcrumb -->
<nav
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
  aria-label="breadcrumb">
  <ol class="breadcrumb ms-lg-4 mt-lg-4 mb-0">
    <li class="breadcrumb-item"><a href="/">
        <%= parentLink %>
      </a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= breadcrumb %>
    </li>
  </ol>
</nav>
   

<section class="sect-media ms-lg-4 mt-lg-4">


  <div class="d-flex justify-content-between">
    <h3 class="mb-0 align-self-center">List Car</h3>
    <a href="/create" class="btn btn-add-car d-flex justify-content-center me-3">
      <i class="fa-solid fa-plus" style="color:white" "></i>
                        <p class=" align-self-center mb-0 ms-3 ">Add New Car</p>
                    </a>
    </div>
    
    <div class=" d-flex justify-content-start my-4">
        <a href="/" class="btn btn-outline-option active me-3">All</a>
        <a href="/" class="btn btn-outline-option me-3">Small</a>
        <a href="/" class="btn btn-outline-option me-3">Medium</a>
        <a href="" class="btn btn-outline-option me-3">Large</a>
  </div>

 
  <div class="row d-flex justify-content-center mb-5">
    
    <% cars.forEach(car=> { %>


      <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
        <div class="card-carInfo">
          <img class="cars-image" src="/images/<%= car.image  %> " alt="<%= car.image %>">
          <h4 class="cars-type mt-3 mb-0">
            <%= car.name %> / <%= car.type %>
          </h4>
          <h3 class="cars-rent mt-2 mb-0">Rp <%= car.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %> / hari
          </h3>
          <div class="cars-info d-flex justify-content-start mt-2">
            <i class="fa-thin fa-clock align-self-center"></i>
            <p class="ms-2 mb-0 align-self-center">
              Updated at <%= car.day %>
                <%= car.month %>
                  <%= car.year %> , <%= car.hour%>.<%= car.minute %>
            </p>
          </div>
          <div class="action d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-outline-danger d-flex justify-content-center me-2 py-2 px-4"
              data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= car.id %>">
              <img src="/images/fi_trash-2.png">
              <p class="mb-0 text-delete align-self-center">Delete</p>
            </button>

            <a href="/update/<%= car.id %>" class="btn btn-success d-flex justify-content-center  py-2 px-4">
              <img src="/images/fi_edit.png">
              <p class="mb-0 text-edit align-self-center">Edit</p>
            </a>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop<%= car.id %>" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
          <div class="modal-content text-center">
            <div class="modal-body">
              <img src="/images/img-BeepBeep.png" alt="">
              <h3>Menghapus Data Mobil</h3>
              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
              <div class="d-flex justify-content-center">
                <form action="/delete/<%= car.id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-modal me-3">Ya</button>
                </form>
                <button type="button" class="btn btn-modal-cancel " data-bs-dismiss="modal">Tidak</button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% }) %>
  </div>

</section>