<!-- Breadcrumb -->
<nav
  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
  aria-label="breadcrumb">
  <ol class="breadcrumb ms-lg-4 mt-lg-4 mb-0">
    <li class="breadcrumb-item"><a href="#">
        <%= parentLink %>
      </a></li>
    <li class="breadcrumb-item"><a href="/">
        <%= childLink %>
      </a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= breadcrumb %>
    </li>
  </ol>
</nav>

<section class="sect-media ms-lg-4 mt-lg-4">
  <h3 class="mb-0 align-self-center">Update Car Information</h3>

  <!-- Content Cars -->
  <div class="card-form">
    <form method="post" action="/update/<%= car.id %>?_method=PUT" enctype="multipart/form-data">
      <div class="row mb-3">
        <label for="inputName" class=" col-lg-2 col-sm-12 col-form-label">
          Nama
          <span style="color: red;">*</span>
        </label>
        <div class="col-lg-5 col-sm-12 ">
          <input type="text" onchange="enabled()" class="form-control" required name="name" value="<%= car.name %>"
            placeholder="Nama Mobil" />
        </div>
      </div>
      <div class="row mb-3 ">
        <label for="inputRent " class="col-lg-2 col-sm-12 col-form-label ">
          Sewa Per Hari
          <span style="color: red;">*</span>
        </label>
        <div class="col-lg-5 col-sm-12 ">
          <input type="text" onchange="enabled()" class="form-control" required name="price" value="<%= car.price %>"
            placeholder="Rp.0,-" />
        </div>
      </div>
      <div class="row mb-3 ">
        <label for="inputRent " class="col-lg-2 col-sm-12 col-form-label ">
          Ukuran
          <span style="color: red;">*</span>
        </label>
        <div class="col-lg-5 col-sm-12">
          <select class="form-select" onchange="enabled()" required name="size">
            <option value="Small" <%=(car.size=='Small' )?"selected":"" %>>Small</option>
            <option value="Medium" <%=(car.size=='Medium' )?"selected":"" %>>Medium</option>
            <option value="Large" <%=(car.size=='Large' )?"selected":"" %>>Large</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 ">
        <label for="image " class="col-lg-2 col-sm-12 col-form-label ">
          Foto
          <span style="color: red;">*</span>
        </label>
        <div class="col-lg-5 col-sm-12">
          <input type="file" onchange="enabled()" name="image" required class="form-control" />
          <p class="file-max mt-2 mb-0">File size max. 2MB</p>
        </div>
      </div>
      <div class="button-submit d-flex justify-content-lg-start">
        <a href="/" class="btn btn-outline-primary btn-search me-3">Cancel</a>
        <button type="submit" class="btn btn-outline-primary btn-update">Save</button>
      </div>
    </form>
  </div>
</section>