body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: #E5E5E5;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}


.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #0D28A6;
    overflow-x: hidden;
}

.sidenav .link {
    margin-top: 30px;
}

.sidenav .link span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.sidenav .link.active {
    background-color: rgba(255, 255, 255, 0.3);
    height: 64px
}

.sidenav .link-active span {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.sidenav .navbar-brand {
    width: 34px;
    height: 34px;
    background: #CFD4ED;
    margin: 18px;
}

.sidenav-extend {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: margin-left .5s;
    margin-left: 0;
    padding: 15px 0px;
}

.sidenav-extend .navbar-brand {
    width: 100px;
    height: 34px;
    margin-left: 30px;
    background: #CFD4ED;
}

.sidenav-extend .parent-link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
    margin: 30px 0px 0px 30px;
}

.sidenav-extend .child {
    margin-top: 20px;
    height: 42px;
    background-color: #CFD4ED;
    padding: 11px 0px 0px 30px;
}

.sidenav-extend .child .child-link {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    text-decoration: none;
}


#main{
   transition: margin-left .5s;
    margin-left: 75px;
    margin-top: 90px;
}

.navbar-light {
    margin-top: -90px;
    width: 100%;
}

.navbar-light .form-control {
    width: 165px;
}

.navbar-light .search-icon {
    padding-left: 45px;
    background: url("../images/fi_search.png") no-repeat left;
    background-position: 12px;
}

.btn-search {
    border: 2px solid #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.btn-search:hover {
    background-color: #4867f377;
}

.navbar-light .user-name {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: black;
}

.breadcrumb .breadcrumb-item a {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    color: #000000 !important;
    line-height: 18px;
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 16px;
    color: #222222;
}


.sect-media h3 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.sect-media h4 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.sect-media p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.sect-media .btn-add-car {
    background: #0D28A6;
    border-radius: 2px;
}

.sect-media .btn-add-car p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.sect-media .btn-outline-option {
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.sect-media .btn-outline-option:hover {
    background: #99a7ee;
}

.sect-media .btn-outline-option.active {
    background: #CFD4ED;
    border: 1px solid #0D28A6;
    box-sizing: border-box;
    border-radius: 2px;
}

.sect-media .card-carInfo {
    padding: 24px;
    max-width: 400px;
    height: 446px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.sect-media .card-carInfo .cars-image{
    width: 100%;
    height: 16.5vw;
    border-radius: 5px;
    object-fit: cover;
}

.sect-media .card-carInfo .action .btn-outline-danger {
    width: 100%;
    border-radius: 2px;
}

.sect-media .card-carInfo .action .btn-outline-danger:hover p {
    color: white;
}

.sect-media .card-carInfo .action .btn-success {
    width: 100%;
    background: #5CB85F;
    border-radius: 2px;
    border-color: #53ad56;
}

.sect-media .card-carInfo .action .btn-success:hover {
    background-color: #439b46;
}

.sect-media .card-carInfo .action .text-delete {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FA2C5A;
}

.sect-media .card-carInfo .action .text-edit {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal-content {
    width: 75%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 24px 32px;
}

.modal-content .modal-body h3 {
    margin-top: 24px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.modal-content .modal-body p {
    margin-top: 16px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.modal-content .modal-body .btn-modal {
    width: 87px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.modal-content .modal-body .btn-modal-cancel {
    width: 87px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.sect-media .card-form {
    margin-top: 16px;
    width: 100%;
    height: auto;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 2px;
}

.sect-media .card-form .form-control,
.form-select {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.sect-media .card-form .file-upload {
    border: 1px solid #ced4da;
    padding: 6px 12px;
    border-radius: 0.25rem;
    width: 100%;
}

.sect-media .card-form .form-label .text-upload {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.sect-media .card-form .file-max {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8A8A8A;
}

.sect-media .button-submit {
    margin-top: 160px;
}

.btn-save {
    background: #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-save:hover {
    background-color: #193ddb;
    color: #FFFFFF;
}

.btn-update {
    width: 56px;
    height: 36px;
    background: #CFD4ED;
    border-color: transparent;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-update:hover {
    background: #0D28A6;
    color: #FFFFFF;
}

.alert{
    position: fixed;
    top: 50;
    display: flex;
    justify-content: center;
    width: 100%;
}

.alert-insert{
    background-color: #73CA5C;
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 12px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.alert-delete{
    color: white;
    font-weight: bold;
    width: 50%;
    padding: 12px 16px;
    background-color: #151515;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
