<!-- SideNav -->
<div class="sidenav text-center">
  <div class="navbar-brand "></div>
  <div class="link" onclick="sideNav('Dasboard','Main')">
    <span style=" cursor: pointer; ">
      <img src="/images/fi_home.png">
      <p class=" mt-1 ">Dashboard</p>
    </span>
  </div>
  <div class="link active py-2 " onclick="sideNav('Cars','List Car')">
    <span style="cursor: pointer;">
      <img src="/images/fi_truck.png">
      <p class=" mt-1">Cars</p>
    </span>
  </div>
</div>

<!-- Sidenav Extend -->
<div id="mySidenav" class="sidenav-extend">
  <div class="navbar-brand "></div>
  <div class="parent-link">Cars</div>
  <div class="child">
  </div>
</div>